**/**.DS_Store
Unihan*
output*
HanVietDictionary/kVietnamese*
HanVietDictionary.xcodeproj/project.pbxproj

# Xcode
*.xcodeproj/xcuserdata/
*.xcodeproj/project.xcworkspace/xcshareddata/
*.xcodeproj/project.xcworkspace/xcuserdata/
*.xcworkspace/xcuserdata/
UserInterfaceState.xcuserstate
xcuserdata/
*.xccheckout

